<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  This excellent fake twitter application is the result of assidiously following the <a href="http://railstutorial.org/">Ruby on Rails Tutorial,</a>
  a project to make a book and screencasts to teach web development
  with <a href="http://rubyonrails.org/">Ruby on Rails</a> By Michael Hartl.  You need his book.
</p>
