<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
Given that this is the result of a RoR tutorial, there will not be a lot of help to be had!  

Think of this as a mini-fake Twitter and you have the gist of it.
</p>
